{% extends 'base.html' %}

{% block title %}Lista de Locações{% endblock %}

{% block content %} 
 
<div class="container">
    <div class="cards">
        {% for imovel in imoveis %}  
        <div class="card-item "> 
			 			{% for el in imovel.imovel_imagens.all %}
            {% if forloop.first %}
            <img src="{{el.image.url}}" class="card-image"  width="100%" height="320" alt="{{el.id}}"> 
            {% endif %}  
            {% endfor %}   
            <div class="card-title p-3">
                <p>Código: {{imovel.codigo}}</p> 
                <p>Endereço: {{imovel.endereco}}</p>
                <p>Detalhes: {{imovel.descricao}}</p>
                <p>R$: {{imovel.preco}}</p>   
                <div class="d-flex justify-content-between align-items-center">
                    <div class="badge bg-primary">IMÓVEL: {{imovel.tipo_imovel}}</div> 
                </div>
            </div>  
        </div> 
        {% endfor %} 
    </div>
</div>
{% endblock %}